.slider-bg {
    background: rgba(0, 0, 0, 0) url(../../img/event/banner.png) repeat scroll right center / cover !important;
}
.action-btn {
    display: flex !important;
}

.approve-btn a {
    background-color: #007bff;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 0.2em;
}

.denied-btn a{
    background-color: #dc3545;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 0.2em;
}
 .link:hover .portfolio-img {
    opacity: 1 !important;
}
.price-btn a {
    font-size: 10px;
    padding: 10px 12px;
  }